boto3
celery
fastapi
openpyxl
pandas
prometheus-client
psycopg2-binary
pydantic
email-validator
pydantic-settings
python-multipart
redis
reportlab
sqlalchemy
structlog
uvicorn
httpx
python-jose[cryptography]
